body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  #menu li a.active {
    background-color: white;
    color: black;
  }
  
  
  #menu {
    background-color: #143b1e; 
  }
  
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #menu ul li {
    display: inline-block;
  }
  
  #menu ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
  }
  
  #menu ul li a:hover {
    background-color: #3ec35d; 
  }
  
  #menu ul li a.active {
    background-color: #fff; 
    color: #010101; 
  }
  
  .icerik {
    padding: 20px;
  }
  
  .slider {
    overflow-x: auto; 
    white-space: nowrap; 
  }
  
  .slider img {
    width: auto; 
    height: 200px; 
    margin-right: 10px; 
  }
  